.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
input {
  border: none;
  margin-right: 0.1%;

  padding: 1%;
}
form {
  display: flex;
  flex-direction: row;
}

.search-bar {
  border-bottom-left-radius: 7%;
  border-bottom-right-radius: 7%;
  width: 33.25%;
  background-color: white;
}
.outer {
  background-color: lightgrey;
  width: 75vw;
  margin: auto;
  margin-top: -2%;
  border-radius: 2%;
  box-shadow: 3px 3px 5px 6px rgb(151, 150, 150);
}
@media screen and (min-width: 40em) {
  .JobsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
/* .job {
  background-color: lightgrey;
  width: 80vw;
  margin: 0 auto;
} */
.page-top {
  width: 100%;
  padding: 1%;
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  border-bottom-left-radius: 57vw;
}
.page-number {
  display: flex;
  justify-content: center;
  margin: 2% auto;
}
@media screen and (max-width: 767px) {
  form {
    display: flex;
    flex-direction: column;
  }
  .search-bar {
    width: 100%;
    border: lightgrey solid;
  }
}
